.cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  //width: 333px;
  margin: 20px 10px 10px 10px;
  border-radius: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);

  .cards-content {
    padding: 12px;
    border-bottom: 1px solid #BEBEBE;

    .cards-content-title {

    }

    .cards-content-text {
      margin-top: 20px;
      font-size: 0.8em;
      font-family: Roboto;

    }
  }
}

.cards-wrapper:hover {
  transform: translateY(-2px);
}

.cards-footer-wrapper {
  display: flex;
  height: 40px;

  .cards-priority{
    justify-content: center;
    align-items: center;
    background-color: #DA6464;
    border-radius: 0px 0px 0px 20px;
  }

  .cards-tag {
    justify-content: center;
    align-items: center;
    background-color: #E0DCDC;
  }

  .cards-footer {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 111px;
  }
}
