<div class="cards-wrapper">
  <div class="cards-content">
    <div class="cards-content-title">
      <h4>Create project</h4>
    </div>
    <div class="cards-content-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, officiis.</p>
    </div>

    <img src="" alt="">
  </div>

  <div class="cards-footer-wrapper">
    <div class="cards-priority cards-footer">
      <p>High</p>
    </div>
    <div class="cards-tag cards-footer">
      <p>Podcast</p>
    </div>
    <div class="cards-date cards-footer">
      Mar 29
    </div>
  </div>
</div>
